<form class="form" name='formAlumno' ng-submit='formAlumno.$valid && vm.accion()' novalidate>
<fieldset>
	<legend>Datos de ingreso: </legend>
	<div class="form-group" ng-if='!vm.hayExistente()'>
		<label class="control-label" for="nombre_alumno">Usuario</label> 
	    <select id="alumno_seleccionado" class="form-control" name="users_id" ng-model='vm.ndts.users_id'>
	    	<option ng-repeat='alu in vm.users.data' value="{{alu.id}}">{{alu.lastname}}, {{alu.name}}. -- Id: {{alu.identificacion}}</option>
	    </select>
	</div>
	<div class="form-group" ng-if='!vm.hayExistente()'>
		<label class="control-label" for="nombre_alumno">Nivel</label> 
	    <select id="nivel_seleccionado" class="form-control" name="materias_has_niveles_id" ng-model='vm.ndts.niveles_has_anios_id'>
	    	<option ng-repeat='nivel in vm.niveles.data' value="{{nivel.id}}">Año: {{nivel.anios.anio}}. -- Nivel: {{nivel.niveles.nombre}}</option>
	    </select>
	</div>
	<div class="form-group" ng-if='vm.hayExistente()'>
		<label class="control-label" for="alumno">Usuario</label>
		<input id="alumno" name="alumno" type="text" step="1" class="form-control" value='{{vm.ndts.users.name}} {{vm.ndts.users.lastname}}' disabled>
	</div>
	<div class="form-group" ng-if='vm.hayExistente()'>
		<label class="control-label" for="alumno">Nivel</label>
		<input id="alumno" name="alumno" type="text" class="form-control" value='{{vm.ndts.niveles_has_anios.niveles.nombre}}' disabled>
	</div>
	<div class="form-group">
		<label class="control-label" for="acudiente">Acudiente</label>
		<input id="acudiente" name="acudiente" type="text" class="form-control" ng-model='vm.ndts.acudiente' required>
	</div>
	<div class="form-group">
		<label class="control-label" for="e_acudiente">Correo acudiente</label>
		<input id="e_acudiente" name="e_acudiente" type="email" class="form-control" ng-model='vm.ndts.email_acudiente'>
	</div>
	<div class="form-group">
		<label class="control-label" for="pension">Pensión mensual asignada</label>
		<input id="pension" name="pension" type="number" step="1" class="form-control" ng-model='vm.ndts.pension' required>  
	</div>
	<div class="form-group">
		<label class="control-label col-sm-3" for="descripcion_pen">Descripcion de la pensión</label>
		<div class="col-sm-9">  
	    	<textarea id="descripcion_pen" name="descripcion_pen" cols="3" form="crearalumno" class="form-control"></textarea ng-model='vm.ndts.descripcion_pen'>
	    </div>
	</div>
	<div class="form-group">
		<label class="control-label" for="matricula">Matrícula del alumno</label>
		<input id="matricula" name="matricula" type="number" step="1" class="form-control" ng-model='vm.ndts.matricula' required>  
	</div>
	<div class="form-group">
		<label class="control-label col-sm-3" for="descripcion_mat">Descripcion de la matrícula</label>
		<div class="col-sm-9">  
	    	<textarea id="descripcion_mat" name="descripcion_mat" cols="3" form="crearalumno" class="form-control"></textarea ng-model='vm.ndts.descripcion_mat'>
	    </div>
	</div>
	<input type="submit" class="btn btn-info" value="Enviar">
</fieldset>
</form>