.facturatirilla {
    width: 230px;
    border-right: 1px solid #369;
}

.facturatirilla h5 {
    margin: 0;
}

.emblemas {
    padding: 12px 0px 5px 5px;
    width: 150%;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

.desplazable {
    max-height: 400px;
    overflow: hidden;
    overflow-y: auto;
}

.desplazable-grande {
    max-height: 600px;
    overflow: hidden;
    overflow-y: auto;
}

