<div  id="empleados" class="col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-8 col-lg-offset-2 col-lg-9">
	<div id="header">
		<h2>Empleados</h2>
	</div>
	<div id="content">
            <error></error>
		<p>En esta sección podrá crear empleados según el contrato acordado. Podrá crear, modificar o eliminar registros.</p>
		<p>Recomendamos prudencia al eliminar registros, ya que estos afectarán los profesores que son asignados a las materias.</p> 
	</div>
	<div id="footer">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                  <li role="presentation" class="active" ng-click='vm.selectTab(1)'><a aria-controls="CrearData" role="tab" data-toggle="tab">Crear Empleados</a></li>
                  <li role="presentation" ng-click='vm.selectTab(2)'><a aria-controls="ModData" role="tab" data-toggle="tab">Modificar Empleados</a></li>
            </ul>

             <!-- Tab panes -->
            <div class="tab-content">

                  <div role="tabpanel" class="active"  id="CrearData">
                        <div class="panel panel-default" ng-show='vm.tabSelec(1)'>
                              <div class="panel-body"><empleado></empleado></div>
                        </div>
                  </div>

                  <div role="tabpanel" class="active"  id="ModData">
                        <div class="panel panel-default" ng-show='vm.tabSelec(2)'>
                              <div class="panel-body"><mod-empleado></mod-empleado></div>
                        </div>
                  </div>

            </div>

	</div>             
</div>