<div class="container-fluid">
<div class="row">
<div class="col-xs-12">
	<button class="btn btn-xs btn-info" ng-click='vm.buscarDatos()'>Actualizar todo.</button>
</div>
</div>
<div class="row">
<div class="col-md-4">
	<div class="panel panel-primary">
			<div class="panel-heading"><h4 class="panel-title">Años, niveles y materias relacionadas</h4></div>
			<div class="panel-body">
				<ul>
					<li ng-repeat='anio in vm.anios.data'>
						<p>{{ anio.anio }}</p>
						<ul>
							<li ng-repeat='nivel in anio.niveles_has_anios'>
								<p>{{ nivel.niveles.nombre }}</p>
								<ul>
									<li ng-repeat='materia in nivel.materias_has_niveles'>
										<p>{{ materia.materias.nombre }}</p>
										<p><button class="btn btn-danger btn-xs" ng-click='vm.delData(materia.id)'>Eliminar Materia</button></p>
									</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</div>
	</div>
</div>
<div class="col-md-4">
<div class="panel panel-success">
	<div class="panel-heading"><h4 class="panel-title">Por favor seleccione el año.</h4></div>
	<div class="panel-body">
		<p>Se tomarán los años asociados con un nivel en el sistema. <em>Cuando elija un año, un nivel y una materia se habilitará el registro.</em></p>
	</div>
	<div class="list-group">
  		<a ng-repeat='anio in vm.anios.data' class="list-group-item" ng-click='vm.selAnio(anio.id)' ng-class='{active: vm.anioSel(anio.id)}'>
    		<h4 class="list-group-item-heading">{{anio.anio}}</h4>
    		<p class="list-group-item-text">{{anio.descripcion}}</p>
  		</a>
	</div>
</div>
<div class="panel panel-success" ng-show='vm.selec.anio!=0'>
	<div class="panel-heading"><h4 class="panel-title">Por favor seleccione el nivel.</h4></div>
	<div class="list-group">
  		<a ng-repeat='nivel in vm.niveles' class="list-group-item" ng-click='vm.selNivel(nivel.id)' ng-class='{active: vm.nivelSel(nivel.id)}'>
    		<h4 class="list-group-item-heading">{{nivel.niveles.nombre}}</h4>
    		<p class="list-group-item-text">{{nivel.niveles.descripcion}}</p>
  		</a>
	</div>
</div>
</div>
<div class="col-md-4" ng-show='vm.selec.nivel!=0'>
<div class="panel panel-success">
	<div class="panel-heading"><h4 class="panel-title">Por favor seleccione la materia.</h4></div>
	<div class="panel-body">
		<p>Se tomarán las materias creadas en el sistema y que no han sido asignados al año seleccionado. <em>Cuando elija un año, un nivel y una materia se habilitará el registro.</em></p>
	</div>
	<div class="list-group">
  		<a ng-repeat='mat in vm.materias.data' class="list-group-item" ng-click='vm.selMat(mat.id)' ng-class='{active: vm.matSel(mat.id)}' ng-hide='vm.matExiste(mat.id)'>
    		<h4 class="list-group-item-heading">{{mat.nombre}}</h4>
    		<p class="list-group-item-text">{{mat.descripcion}}</p>
  		</a>
	</div>
</div>
</div>
<div class="col-xs-offset-3 col-xs-6">
	<button class="btn btn-primary btn-lg" ng-show='vm.infoCompleta()' ng-click='vm.guardarRel()'>Guardar relación</button>
</div>
</div>
</div>