<div  ng-show="vm.existeStorage()">
<link href="/css/font-awesome/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/css/menu.css">
<div class="nav-side-menu">
    <div class="brand"><img id="profile-img" class="profile-img-card" src="{{vm.logo.valor}}"></div>
    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
        <div class="menu-list">
            <ul id="menu-content" class="menu-content collapse out">
                <li>
                  <a href="/#/authhome"><i class="fa fa-dashboard fa-lg"></i> Inicio</a>
                </li>

                <li data-toggle="collapse" data-target="#institucion" class="collapsed"  ng-show="vm.esAdmin()">
                  <a href> <i class="fa fa-building-o fa-lg"></i> Institución<span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="institucion">
                	<li><a href="/#/usuarios"> Usuarios</a></li>
                    <li><a href="/#/empleados"> Empleados</a></li>
                    <li><a href="/#/profesores"> Profesores</a></li>
                </ul>

                <li  data-toggle="collapse" data-target="#escuela" class="collapsed">
                  <a href><i class="fa fa-graduation-cap fa-lg"></i> Escuela<span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="escuela">
                	 <li ng-show="vm.esCoord()"><a href="/#/plan"> Plan escolar</a></li>
                    <li ng-show="vm.esCoord()"><a href="/#/alumnos"> Alumnos</a></li>
                    <li ng-show="vm.esCoord()"><a href="/#/asistencia"> Asistencia</a></li>
                    <li ng-show="vm.esProfe()"><a href="/#/notas"> Notas</a></li>
                    <li ng-show="vm.esSoloAlumno()"><a href="/#/estudiantil"> Registro estudiantil</a></li>
                    <li ng-show="vm.esCoord()"><a href="/#/listaalumnos"> Listado de alumnos</a></li>
                    <li ng-show="vm.esCoord()"><a href="/#/boletines"> Boletines</a></li>
                </ul>


                <li data-toggle="collapse" data-target="#pagos" class="collapsed" ng-show="vm.esAdmin()">
                  <a href> <i class="fa fa-money fa-lg"></i> Financiera<span class="arrow"></span></a>
                </li>  
                <ul class="sub-menu collapse" id="pagos">
                  <li><a href="/#/ingresos"> Ingresos</a></li>
                  <li><a href="/#/egresos"> Egresos</a></li>
                  <li><a href="/#/liquicaja"> Liquidación diaria de caja</a></li>
                </ul>

                 <li data-toggle="collapse" data-target="#analisis" class="collapsed" ng-show="vm.esAdmin()">
                  <a href><i class="fa fa-first-order fa-lg"></i> Análisis<span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="analisis">
                  <li><a href="/#/analisis/matypen"> Matrículas y Pensiones</a></li>
                  <li><a href="/#/analisis/ingreyegre"> Ingresos y Egresos</a></li>
                  <li><a href="/#/analisis/juicios"> Juicios de valor</a></li>
                  <li><a href="/#/analisis/honor"> Cuadros de Honor</a></li>
                </ul>

                <li data-toggle="collapse" data-target="#application" class="collapsed" ng-show="vm.esAdmin()">
                  <a href><i class="fa fa-rocket fa-lg"></i> Aplicación<span class="arrow"></span></a>
                </li>
                <ul class="sub-menu collapse" id="application">
                  <li><a href="/#/opciones"> Opciones</a></li>
                  <li><a href="/#/mantenimiento"> Mantenimiento</a></li>
                  <li><a href="/#/authdevice"> Lectoras</a></li>
                </ul>

                 <li><a href="/#/profile"> <i class="fa fa-user fa-lg"></i> Perfil de <em>{{vm.nombreUser()}}</em></a></li>

                 <li><a href="/#/login"> <i class="fa fa-sign-out fa-lg"></i> Salir</a></li>
            </ul>
     </div>
</div>
</div>